$chamod-black-primary: mat-palette($mat-grey, 700, 300, 900);
$chamod-black-accent: mat-palette($mat-blue-grey, 400);
$chamod-black-warn: mat-palette($mat-red, 500);

$chamod-black-theme: mat-dark-theme(
  $chamod-black-primary,
  $chamod-black-accent,
  $chamod-black-warn
);
