$chamod-primary: mat-palette($mat-indigo, 800, 300, 900);
$chamod-accent: mat-palette($mat-light-blue);
$chamod-warn: mat-palette($mat-pink, 600);

$chamod-theme: mat-light-theme($chamod-primary, $chamod-accent, $chamod-warn);
