$chamod-light-primary: mat-palette($mat-grey, 200, 500, 300);
$chamod-light-accent: mat-palette($mat-brown, 200);
$chamod-light-warn: mat-palette($mat-deep-orange, 200);

$chamod-light-theme: mat-light-theme(
  $chamod-light-primary,
  $chamod-light-accent,
  $chamod-light-warn
);
